.console-box-wrapper {
  height: calc(100vh - 90px - 346px);
  padding: 10px 0px 10px 10px;
  background-color: #222222;
  border-radius: 8px;
}

.console-box {
  font-family: monospace;
  white-space: pre;
  overflow: auto;
  color: #fff;
  background-color: #222222;
  box-sizing: border-box;

  div {
    user-select: text;
  }
}

.console-list>div {
  width: 900px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
  width: 14px;
  /* スクロールバーの太さ */
}

/* 背景 */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:horizontal {
  background-color: #222222;
  border-radius: 12px;
}

/* ドラッグ中の背景 */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover:horizontal {
  background-color: #61636c;
}

/* 取っ手 */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  background-color: #8c8992;
  border-radius: 12px;
}